<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - DoubtsRemaster</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="~/css/layout-admin.css">
    <link rel="stylesheet" href="~/css/tela-listagem-itens.css">
    <link rel="stylesheet" href="~/css/adicionar-colaborador.css">
</head>
<body>
    <div class="container">
        <div class="grid-conteudo">
            <aside class="barra-lateral">
                <div class="logotipo">
                    <img src="~/img/logo.png" alt="logotipo da catatau corp" class="logotipo-completo">
                    <img src="~/img/logotipo-reduzido.png" alt="" class="logotipo-reduzido">
                </div>
                <nav class="menu-principal">
                    <div class="menu controlar-postagem">
                        <ul>
                            <li class="item-menu-principal"><a href="#">Criar Postagem</a></li>
                            <li class="item-menu-principal"><a href="#">Listar Postagem</a></li>
                        </ul>
                    </div>
                    <div class="menu controlar-colaboradores">
                        <ul>
                            <li class="item-menu-principal"><a href="#">Adicionar Colaborador</a></li>
                            <li class="item-menu-principal"><a href="#">Listar Colaborador</a></li>
                        </ul>
                    </div>
                    <div class="menu controlar-forum">
                        <ul>
                            <li class="item-menu-principal"><a href="#">Gerenciar Usuários</a></li>
                            <li class="item-menu-principal"><a href="#">Gerenciar Temas</a></li>
                            <li class="item-menu-principal"><a href="#">Gerenciar Tópicos</a></li>
                            <li class="item-menu-principal"><a href="#">Moderar Denúncia</a></li>
                        </ul>
                    </div>
                    <div class="menu controlar-expansao fechado">
                        <span class="item-menu-principal"><a href="#">◄ Recolher menu</a></span>
                    </div>    
                </nav>
                <div class="hamburguer-menu">
                    <div class="um"></div>
                    <div class="dois"></div>
                    <div class="tres"></div>
                </div>
            </aside>
            <div class="renderizar-view">
                <header class="cabecalho">
                    <div class="boas-vindas">
                        <h2 class="texto-boas-vindas">Olá, Administrador</h2>
                    </div>
                    <div class="dados-usuario-logado">
                        <div class="foto-perfil">
                            <img src="~/img/adm-forum.jpg" alt="foto de perfil do usuário" >
                        </div>
                        <div class="container-opcoes-usuario">
                            <ul>
                                <li><a href="#" class="editar-perfil">Editar Perfil</a></li>
                                <li><a href="#" class="sair">Sair</a></li>
                            </ul>
                        </div>                    
                    </div>
                </header>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/menu-admin.js"></script>
    <script src="~/js/menu-contexto.js"></script>
    <script src="https://kit.fontawesome.com/ac3788b49e.js" crossorigin="anonymous"></script>
</body>
</html>