@{
    Layout = "_TemplateAdmin";
}
<section class="tela-inicial">
    <div class="grid-opcoes">
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Criar Postagem</a>
        </div>
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Listar Postagem</a>
        </div>
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Adicionar Colaborador</a>
        </div>
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Listar Colaborador</a>
        </div>
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Gerenciar Usuários</a>
        </div>
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Gerenciar Temas</a>
        </div>
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Gerenciar Tópicos</a>
        </div>
        <div class="btn-opcao">
            <a href="" class="link-btn-opcao">Moderar Denúncia</a>
        </div>
    </div>
</section>
