<section class="login-admin">
    <div class="container-form">
        <form class="frm-login-admin">
            <input type="email" class="txt-form" name="Email" placeholder="Digite o e-mail">
            <input type="password" class="txt-form" name="Senha" placeholder="Digite a senha">
            <span class="erro-login">E-mail ou senha inválidos</span>
            <div class="enviar-dado">
                <button type="submit" class="btn-enviar-dado">Entrar</button>
            </div>
        </form>
    </div>
</section>