<main class="form-contato">
    <div class="container-form-contato">
        <div class="formulario">
            <form action="" class="frm-contato">
                <label for="Nome" class="lbl-contato">Nome: </label>
                    <input type="text" name="Nome" class="txt-contato">
                <label for="e-mail" class="lbl-contato">E-mail: </label>
                    <input type="email" name="e-mail" class="txt-contato">
                <label for="assunto" class="lbl-contato">Assunto: </label>
                    <input type="text" name="assunto" class="txt-contato">
                <label for="mensagem" class="lbl-contato">Digite a sua mensagem: </label>
                    <textarea name="mensagem"></textarea>

                <button class="btn-form-contato">Enviar</button>
            </form>
        </div>
        <div class="descricao-form">
            <article>
                <h1 class="titulo-texto">Seu Feedback é Importante Para Nós</h1>
                <p class="paragrafo-texto-contato">Caro leitor, este é um espaço para que você conte-nos a sua experiência em nosso site. Você pode enviar uma crítica, uma sugestão ou uma avaliação. </p>
                <p class="paragrafo-texto-contato">Caso seja necessária alguma correção em alguma postagem, por favor, envie também o link do post para podermos analisar e fazer os ajustes. Estamos sempre buscando melhorar a nossa plataforma e você é a parte mais importante para nós.</p>
                <p class="paragrafo-texto-contato">Desejamos um forte abraço para você e toda a sua família. \o/ </p>
            </article>
        </div>
    </div>
</main>