@{
    ViewData["Title"] = "Home Page";
}

<section class="banner-de-slides">
    <div class="grid-manchete">
        <article class="manchete">
            <div class="noticia-principal">
                <div class="caixinha-nav esquerdo">
                    <button>&#10094</button>
                </div>

                <img src="img/seguranca.png.webp" alt="" class="imagem-noticia-principal selecionado">
                <img src="img/pexels-elif-aksoy-11588707.jpg" alt="" class="imagem-noticia-principal">
                <img src="img/pexels-photo-3183197.jpeg" alt="" class="imagem-noticia-principal">

                <div class="descricao-noticia-principal">
                    <div class="titulo-descricao selecionado">
                        <h2 class="titulo-noticia-principal">Título 1 fica aqui</h2>
                        <p class="texto-noticia-principal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                    <div class="titulo-descricao">
                        <h2 class="titulo-noticia-principal">Título 2 fica aqui</h2>
                        <p class="texto-noticia-principal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                    <div class="titulo-descricao">
                        <h2 class="titulo-noticia-principal">Título 3 fica aqui</h2>
                        <p class="texto-noticia-principal">Descrição 3</p>
                    </div>


                    <div class="indice">
                        <span class="opcao ativa"></span>
                        <span class="opcao"></span>
                        <span class="opcao"></span>
                    </div>
                </div>
                    
                <div class="caixinha-nav direito">
                    <button>&#10095</button>
                </div>  
            </div> 
        </article>

        <div class="relacionado exiba">
            <article class="noticia-relacionada" id="rel1">
                <img src="img/3.jpg" alt="">

                <div class="descricao-noticia-relacionada">
                    <h2 class="titulo-noticia-relacionada">Titulo Noticia Relacionada 1</h2>
                    <p class="resumo-noticia-relacionada">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </article>
                
            <article class="noticia-relacionada" id="rel2">
                    <img src="img/3.jpg" alt="">
                <div class="descricao-noticia-relacionada">
                    <h2 class="titulo-noticia-relacionada">Titulo Noticia Relacionada 2</h2>
                    <p class="resumo-noticia-relacionada">Descrição da notícia relacionada 2</p>
                </div>
            </article>
        </div>

        <div class="relacionado">
            <article class="noticia-relacionada" id="rel1">
                <img src="img/pexels-photo-3183197.jpeg" alt="">

                <div class="descricao-noticia-relacionada">
                    <h2 class="titulo-noticia-relacionada">Titulo Noticia Relacionada 3</h2>
                    <p class="resumo-noticia-relacionada">Descrição da notícia relacionada 3</p>
                </div>
            </article>
                
            <article class="noticia-relacionada" id="rel2">
                    <img src="img/3.jpg" alt="">
                <div class="descricao-noticia-relacionada">
                    <h2 class="titulo-noticia-relacionada">Titulo Noticia Relacionada 4</h2>
                    <p class="resumo-noticia-relacionada">Descrição da notícia relacionada 4</p>
                </div>
            </article>
        </div>

        <div class="relacionado">
            <article class="noticia-relacionada" id="rel1">
                <img src="img/3.jpg" alt="">

                <div class="descricao-noticia-relacionada">
                    <h2 class="titulo-noticia-relacionada">Titulo Noticia Relacionada 5</h2>
                    <p class="resumo-noticia-relacionada">Descrição da notícia relacionada 5</p>
                </div>
            </article>
                
            <article class="noticia-relacionada" id="rel2">
                    <img src="img/3.jpg" alt="">
                <div class="descricao-noticia-relacionada">
                    <h2 class="titulo-noticia-relacionada">Titulo Noticia Relacionada 6</h2>
                    <p class="resumo-noticia-relacionada">Descrição da notícia relacionada 6</p>
                </div>
            </article>
        </div>
    </div>
 </section>

 <main class="sessao-de-ultimas-noticias">
    <div class="ultimas-noticias">
        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/surgir-ideia.jpg" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>

        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/quem-faz.png" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Descrição noticia</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>

        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/o que é a dp.jpg" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Descrição noticia</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>

        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/Lampada.jpg" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Descrição noticia</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>

        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/Lampada.jpg" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Descrição noticia</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>

        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/Lampada.jpg" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Descrição noticia</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>

        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/Lampada.jpg" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Descrição noticia</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>

        <article class="card-noticia">
            <div class="imagem-card">
                <img src="img/Lampada.jpg" alt="" class="img-card">
            </div>
            <div class="texto-card">
                <h2>Titulo da Noticia</h2>
                <p>Descrição noticia</p>
            </div>
            <div class="dados-do-post">
                <p>data de publicação</p>
            </div>
        </article>
    </div>
</main>

<section class="forum">
    <div class="grid-postagem">
        <article class="box-post">
            <div class="dados-usuario">
                <img src="img/natan.jpg" alt="">
                <p><a href="#">Natan Fellipe</a></p>
            </div>
            <div class="texto-postagem">
                <h2>Titulo da Postagem Aqui</h2>
                <p>Descrição da postagem aqui.</p>
            </div>
        </article>

        <article class="box-post">
            <div class="dados-usuario">
                <img src="img/natan.jpg" alt="">
                <p><a href="#">Natan Fellipe</a></p>
            </div>
            <div class="texto-postagem">
                <h2>Titulo da Postagem Aqui</h2>
                <p>Descrição da postagem aqui.</p>
            </div>
        </article>

        <article class="box-post">
            <div class="dados-usuario">
                <img src="img/natan.jpg" alt="">
                <p><a href="#">Natan Fellipe</a></p>
            </div>
            <div class="texto-postagem">
                <h2>Titulo da Postagem Aqui</h2>
                <p>Descrição da postagem aqui.</p>
            </div>
        </article>
    </div>
</section>