<main class="listar-noticia">
    <div class="container-noticia">
        <article>
            <header>
                <h2>Título da Noticia Ficará aqui</h2>
                <h3 class="subtitulo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac orci phasellus egestas tellus. Vulputate mi sit amet mauris commodo. Cum sociis natoque penatibus et magnis dis parturient montes. Hac habitasse platea dictumst quisque sagittis purus sit amet volutpat. Lectus nulla at volutpat diam ut venenatis tellus in. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Odio morbi quis commodo odio aenean. Lacus viverra vitae congue eu consequat ac. Donec enim diam vulputate ut pharetra sit amet aliquam. Auctor elit sed vulputate mi.
                </h3>
                <p class="data-publicacao">Data de publicação</p>
            </header>
                <p class="paragrafo-texto">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

                <p class="paragrafo-texto">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
                <figure>
                    <img src="~/img/pexels-elif-aksoy-11588707.jpg" alt="" class="foto-corpo-noticia">
                    <figcaption>Essa é a lengenda da foto porque ela é muito legal. Foto foi tirada da internet para teste. </figcaption>
                </figure>
                <p class="paragrafo-texto">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

                <p class="paragrafo-texto">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
            <footer class="autor">
                <div class="foto-autor">
                    <img src="/img/natan.jpg" alt="">
                </div>
                <div class="resumo-biografia-autor">
                    <p class="nome-autor">Dados do autor aqui</p>
                    <p class="bio-autor">
                        Aqui ficará um resumo da biografia do autor. Por isso, vamos deixar um texto um pouco mais longo aqui.
                    </p>
                </div>
            </footer>
            
        </article>
        
    </div>
</main>