<main class="lista-de-noticias">
    <div class="container-listar-noticias">
        <article class="postagem">
            <header>
                <img src="~/img/pexels-photo-3183197.jpeg" alt="">
            </header>
            <div class="corpo-noticia">
                <h1>Titulo Noticia</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac orci phasellus egestas tellus. Vulputate mi sit amet mauris commodo. Cum sociis natoque penatibus et magnis dis parturient montes. Hac habitasse platea dictumst quisque sagittis purus sit amet volutpat. Lectus nulla at volutpat diam ut venenatis tellus in. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Odio morbi quis commodo odio aenean. Lacus viverra vitae congue eu consequat ac. Donec enim diam vulputate ut pharetra sit amet aliquam. Auctor elit sed vulputate mi.
                </p>
            </div>
            <footer class="veja-mais">
                <button class=btn-veja-mais>Veja Mais</button>
            </footer>
        </article>
    </div>
</main>