@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Quicksand', Verdana, sans-serif;
    
}

html{
    font-size: 62.5%;
}

body{
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.menu-principal {
    min-height: auto;
    background-color: #18bd9b;
    box-shadow: 0rem 0.1rem 0.2rem #000000; 
    z-index: 1;
    padding: 1vh 2vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.caixa-logotipo{
    display: flex;
}

.caixa-logotipo img{
    max-height: 50px;
}

.caixa-menu {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.caixa-menu nav {
    width: 100%;
}

.hamburguer-menu{
    height: 100%;
    display: none;
}

.hamburguer-menu > div{
    width: 30px;
    height: 5px;
    background: #fff;
    margin: 4px;
}

.caixa-menu nav ul{
    display: flex;
    justify-content: space-around;
}

.caixa-menu nav ul li{
    font-size: 2.1rem;
    font-weight: 500;
    color: white; 
}

.caixa-menu nav ul a{
    text-decoration: none;
    color: white;
    padding: 0rem  1rem 0.5rem 1rem;
}

.caixa-menu nav ul a:hover{
    text-decoration: underline;
    background-color: white;
    color: #18bd9b;
    -webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

/*Rodape*/

.rodape {
    width: 100%;
    min-height: 8.0rem;
    padding: 0vh 2vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #18bd9b;
    border-top: 1px solid black;
}

.logotipo-rodape {
    max-height: 50px;
}

.paragrafo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.paragrafo p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFF;
}

/*Tela de login*/



.login-admin {
    width: 100%;
    height: 100vh;
    padding: 2vh 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form{
    border:  2px solid #18bd9b;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

.frm-login-admin {
    border-radius: 2%;
    padding: 8% 0;
    box-sizing: border-box;
}

.txt-form {
    width: 98%;
    height: 40px;
    font-size: 1.5rem;
    margin-bottom: 85px;
    text-align: center;
    border-radius: 2%;
    border: 1px solid rgb(63, 63, 63);
}

.txt-form:focus {
    box-shadow: 1px;
    outline: 0;
    border: 1px solid #18bd9b;
}

.erro-login {
    display: none;
}

.enviar-dado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-enviar-dado {
    width: 8vw;
    height: 3vw;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #18bd9b;
    border: 1px solid #858585;
    border-radius: 4%;
    cursor: pointer;
}

.btn-enviar-dado:hover {
    background-color: #fff;
    color: #18bd9b;
    border: 1px solid #18bd9b;
    transition: all .2s ease-in-out;
}

@media screen and (min-width: 2561px) {
    .menu-principal {
        padding: 0.1vh 2vw;
    }

    .container-form {
        max-width: 570px;
        height: 400px;
    }

    .login-admin {
        height: 50vh;
    }

    .frm-login-admin {
        max-height: 500px;
        width: 400px;
    }

    .txt-form {
        border: 2px solid black;
    }

    .btn-enviar-dado {
        max-height: 50px;
        max-width: 120px;
    }

    
}

@media screen and (max-width: 2560px) {
    .caixa-menu{
        max-width: 2559px;
    }

    .container-form {
        max-width: 570px;
        height: 400px;
    }

    .login-admin {
        height: 50vh;
    }

    .frm-login-admin {
        max-height: 500px;
    }

    .btn-enviar-dado {
        max-height: 50px;
        max-width: 120px;
    }
}

@media screen and (max-width: 1440px) {
    .login-admin {
        height: 79vh;
    }
}

@media screen and (max-width: 1024px) {
    .container-form {
        padding: 2vw;
    }

    .btn-enviar-dado {
        min-width: 80px;
        min-height: 30px;
    }
}


@media screen and (max-width: 768px){
    /*Trabalhando o menu e deixando ele desativado*/

    header {
        display: block;
    }

    .caixa-logotipo{
        max-height: 6.0rem;
    }

    .caixa-menu { 
        display: flex;
        justify-content: space-around;
        width: 100vw;
        margin-left: 0vw;
        margin-top: 12vh;
        position: absolute;
    }

    .caixa-menu nav {
        display: none;
    }

    /*mexendo no hamburguer menu*/

    .hamburguer-menu{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 40px;
        position: absolute;
        right: 20px;
        cursor: pointer;
        box-sizing: border-box;

    }

    .hamburguer-menu > div{
        transition-duration: 0.3s;
    }

    /*Fazendo o movimento de 'X' em .um .dois e .tres*/
    .menu-aberto .um{
        transform: rotate(45deg) translate(10px, 10px);
    }

    .menu-aberto .dois{
        opacity: 0;
    }

    .menu-aberto .tres{
        transform: rotate(-45deg) translate(8px, -8px);
    }

    /*aumentando o header e exibindo o menu*/
    .expandircabecalho {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: #18bd9b;
        z-index: 10;
    }

    .expandircabecalho .caixa-menu nav {
        display: block;
        height: 100%;
        width: 80%;
    }

    .expandircabecalho .caixa-menu nav ul {
        flex-direction: column;

    }

    .expandircabecalho .caixa-menu nav ul li {
        border: 1px solid white;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-form {
        width: 60vw;
    }

}

@media screen and (max-width: 564px) {


    .paragrafo {
        padding: 0 10vw;
    }

    .paragrafo p{
        font-size: 1.1rem;
    }


    .container-form {
        width: 100vw;
        border: none;
    }

    .frm-login-admin{
        width: 80%;
    }

    .txt-form {
        width: 100%;
    }
}